# ignore cache file
__pycache__

# Ignore files related to API keys
.env

# Ignore IDE specific directories
.vscode
.idea

# Ignore files/folders macOS could create in the directory
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
._* 