.artitem-post-container {
  display: grid;
  margin-top: 120px;
  margin-left: 35px;
  margin-right: 35px;
  height: calc(100vh - 140px);
  /*padding: 10px;
  overflow: hidden;
  background-color: red;*/
  margin-bottom: 0px;
}

.artitem-post-container .artitem-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.artitem-post-container #image-container {
  background-color: #0e0a10;
  flex: 1 1 400px;
  padding: 0 50px;
  /*min-height: 400px;
  max-height: 90vh;*/
  overflow-y: scroll;
}

.artitem-post-container #image {
  object-fit: contain;
  width: 100%;
  height: 90%;
  margin-bottom: 1.8rem;
}

.artitem-post-container .tag-container {
  display: block;
}

.artitem-post-container #info-container {
  color: #ffffff;
  background-color: #0e0a10;
  flex: 1 4 300px;
  max-width: 25vw;
  min-width: 280px;
  border-left: 1px solid #bcb1c1;
  padding-left: 10px;
  /*min-height: 400px;
  max-height: 90vh;*/
  display: flex;
  flex-direction: column;
  /*overflow-y: scroll;*/
}

.artitem-post-container #owner {
  /*background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;*/
  flex: 0 0 50px;
  /*border-radius: 0px 5px 0px 0px;*/
  justify-content: space-between;
  /*max-height: 70px;*/
}

.artitem-post-container #owner-profile-photo {
  object-fit: cover;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 4px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.artitem-post-container #owner-username {
  display: inline-block;
  color: #ffc9ff;
  height: 4.5rem;
  width: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 25px 10px 15px 10px;
}

.artitem-post-container #comments {
  /*background-color: #fafafa;*/
  flex: 1 1 0;
  overflow-y: scroll;
  padding: 10px;
  /*color: #18121c;*/
}

.artitem-post-container #title-and-description {
  padding: 10px 10px 0px 10px;
}

.artitem-post-container #title {
  font-size: 18px;
  margin-bottom: 0.9rem;
}

.artitem-post-container #description {
  font-size: 14px;
  font-weight: 5px;
}

.artitem-post-container #type {
  font-size: 14px;
  font-weight: 5px;
}

.artitem-post-container .comment {
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
}

.artitem-post-container .comment-owner-profile-photo {
  object-fit: cover;
  cursor: pointer;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 4px;
}

.artitem-post-container .comment-owner {
  color: #ffc9ff;
  display: inline-block;
  font-weight: 600;
  padding: 1px 10px;
}

.artitem-post-container .comment-text {
  font-weight: normal;
  padding: 2px 10px 2px 10px;
}

.artitem-post-container .comment:last-child {
  margin-bottom: 0px;
}

.artitem-post-container .comment-info {
  color: #bcb1c1;
  font-size: 0.8em;
  padding: 1px 10px;
}

.artitem-post-container #stats {
  /*background-color: #fafafa;
  border-top: 1px solid #d9d9d9;*/
  flex: 0 0 10px;
  /*border-radius: 0px 0px 2px 0px;*/
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 500;
  /*height: fit-content*/
}

.artitem-post-container #likes {
  margin-right: 16px;
}

.artitem-post-container .add-comment-container {
  /*background-color: #fafafa;*/
  border-top: 1px solid #bcb1c1;
  flex: 0 0 10px;
  /*border-radius: 0px 0px 2px 0px;*/
  padding: 10px 6px;
  min-height: 140px;
}

.artitem-post-container .add-comment-input {
  width: 100%;
  font-size: 15px;
  border-radius: 0.3rem;
  resize: none;
}

.artitem-post-container .add-comment-input:focus {
  outline: none !important;
  box-shadow: 0px 0px 5px #ffc9ff !important;
}

.artitem-post-container .btn-comment-container {
  text-align: right;
  margin-top: 6px;
}

.artitem-post-container .btn-comment {
  font-size: 15px;
  margin-bottom: 2px;
  margin-left: 5px;
  background-color: #ffc9ff;
  color: #18121c !important;
  border-radius: 0.3rem;
  padding: 0.3rem 0.9rem;
}

.artitem-post-container .btn-comment:hover,
.artitem-post-container .btn-comment:active {
  background-color: rgba(255, 201, 255, 0.9) !important;
  color: #18121c !important;
}

.artitem-post-properties {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 500px;
}

.artitem-post-properties .section-header {
  color: #ffc9ff;
  font-size: 32px;
}

/* width */
.artitem-post-container #comments::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.artitem-post-container #comments::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.artitem-post-container #comments::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.artitem-post-container #comments::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* width */
.artitem-post-container #image-container::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.artitem-post-container #image-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.artitem-post-container #image-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.artitem-post-container #image-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
