.post-container {
  position: fixed;
  top: 90px;
  bottom: 10px;
  left: 230px;
  right: 230px;
  display: grid;
  place-items: center;
  padding: 10px;
  overflow: hidden;
  background-color: #18121c;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

#image-container {
  background-color: #0e0a10;
  flex: 1 1 400px;
  min-height: 400px;
  max-height: 90vh;
}


#info-container {
  flex: 1 4 300px;
  max-width: 500px;
  min-width: 280px;
  min-height: 400px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

#owner {
  background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;
  flex: 0 0 50px;
  border-radius: 0px 5px 0px 0px;
  justify-content: space-between;
  max-height: 70px;
}

#owner-profile-photo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 15px;
  margin-bottom: 5px;
}

#owner-username {
  display: inline-block;
  height: 3rem;
  width: 5px;
  font-size: 14px;
  padding: 30px 10px;
}

#description-and-comments {
  background-color: #fafafa;
  flex: 1 1 0;
  overflow: scroll;
  padding: 10px;
  color: #18121c;
}

#description {
  font-size: 14px;
  font-weight: 5px;
}

.comment {
  margin-bottom: 10px;
  font-size: 14px;
}

.comment-owner-profile-photo {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.comment-owner {
  display: inline-block;
  font-weight: bold;
  padding: 1px 10px;
}

.comment-text {
  font-weight: normal;
  padding: 1px 40px;
}

.comment:last-child {
  margin-bottom: 0px;
}

.comment-info {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
  padding: 1px 40px;
}
#stats {
  background-color: #fafafa;
  border-top: 1px solid #d9d9d9;
  flex: 0 0 10px;
  border-radius: 0px 0px 2px 0px;
  padding: 5px 10px;
  font-size: 0.9em;
  font-weight: 500;
  /*height: fit-content*/
}

.add-comment-container {
  background-color: #fafafa;
  border-top: 1px solid #d9d9d9;
  flex: 0 0 10px;
  border-radius: 0px 0px 2px 0px;
  border-color: #d9d9d9;
  padding: 10px 10px;
  height: 50px;
}

.add-comment-input {
  padding-right: 200px;
}

.btn-comment {
  margin-bottom: 2px;
  margin-left: 5px;
  border: 0.1rem solid #18121c;
  background-color: #32253a;
  color: #fafafa;
  border-radius: 0.3rem;
  padding: 0.2rem 0.2rem;
}

.btn-comment:hover {
  background-color: #ffc9ff;
  color: #0e0a10;
}
