.artitem-post-container {
  display: grid;
  margin-top: 120px;
  margin-left: 35px;
  margin-right: 35px;
  height: calc(100vh - 140px);
  /*padding: 10px;
  overflow: hidden;
  background-color: red;*/
  margin-bottom: 0px;
}

.artitem-post-container .artitem-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.artitem-post-container #image-container {
  background-color: #0e0a10;
  flex: 1 1 400px;
  padding: 0 50px;
  /*min-height: 400px;
  max-height: 90vh;*/
  overflow-y: scroll;
}

.artitem-post-container #image-wrap {
  display: flex;
  justify-content: center;
  height: 77vh;
  margin-bottom: 1.8rem;
}

.artitem-post-container #image {
  object-fit: contain;
  width: 100%;
  height: 90%;
  margin-bottom: 1.8rem;
}

.artitem-post-container .tag-container {
  display: block;
}

.artitem-post-container .anno-show-hide-button {
  background-color: #ffc9ff;
  color: #18121c;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0.3rem;
}

.artitem-post-container #info-container {
  color: #ffffff;
  background-color: #0e0a10;
  flex: 1 4 300px;
  max-width: 25vw;
  min-width: 280px;
  border-left: 1px solid #bcb1c1;
  padding-left: 10px;
  /*min-height: 400px;
  max-height: 90vh;*/
  display: flex;
  flex-direction: column;
  /*overflow-y: scroll;*/
}

.artitem-post-container #owner {
  /*background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;*/
  flex: 0 0 50px;
  /*border-radius: 0px 5px 0px 0px;*/
  justify-content: space-between;
  /*max-height: 70px;*/
}

.artitem-post-container #owner-profile-photo {
  object-fit: cover;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 4px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.artitem-post-container #owner-username {
  display: inline-block;
  color: #ffc9ff;
  height: 4.5rem;
  width: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 25px 10px 15px 10px;
}

.artitem-post-container #comments {
  /*background-color: #fafafa;*/
  flex: 1 1 0;
  overflow-y: scroll;
  padding: 0px 10px 10px 10px;
  /*color: #18121c;*/
}

.artitem-post-container #title-and-description {
  padding: 10px 10px 0px 10px;
}

.artitem-post-container #title {
  font-size: 18px;
  margin-bottom: 0.9rem;
}

.artitem-post-container #description {
  font-size: 14px;
  margin-bottom: 0.25rem;
}

.artitem-post-container #category {
  font-size: 13px;
}

.artitem-post-container .comment {
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
}

.artitem-post-container .comment-owner-profile-photo {
  object-fit: cover;
  cursor: pointer;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 4px;
}

.artitem-post-container .comment-owner {
  color: #ffc9ff;
  display: inline-block;
  font-weight: 600;
  padding: 1px 10px;
}

.artitem-post-container .comment-text {
  font-weight: normal;
  padding: 2px 10px 2px 10px;
}

.artitem-post-container .comment:last-child {
  margin-bottom: 0px;
}

.artitem-post-container .comment-info {
  color: #bcb1c1;
  font-size: 0.8em;
  padding: 1px 10px;
}

.artitem-post-container #stats {
  /*background-color: #fafafa;
  border-top: 1px solid #d9d9d9;*/
  display: flex;
  /*flex: 0 0 10px;
  border-radius: 0px 0px 2px 0px;*/
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 500;
  /*height: fit-content*/
}

.artitem-post-container #stats div:last-child {
  margin-left: auto;
  margin-right: 12px;
}

.artitem-post-container #likes {
  margin-right: 16px;
}

.artitem-post-container .add-comment-container {
  /*background-color: #fafafa;*/
  border-top: 1px solid #bcb1c1;
  flex: 0 0 10px;
  /*border-radius: 0px 0px 2px 0px;*/
  padding: 10px 6px;
  min-height: 140px;
}

.artitem-post-container .add-comment-input {
  width: 100%;
  font-size: 15px;
  border-radius: 0.3rem;
  resize: none;
}

.artitem-post-container .add-comment-input:focus {
  outline: none !important;
  box-shadow: 0px 0px 5px #ffc9ff !important;
}

.artitem-post-container .btn-comment-container {
  text-align: right;
  margin-top: 6px;
}

.artitem-post-container .btn-comment {
  font-size: 15px;
  margin-bottom: 2px;
  margin-left: 5px;
  background-color: #ffc9ff;
  color: #18121c !important;
  border-radius: 0.3rem;
  padding: 0.3rem 0.9rem;
}

.artitem-post-container .btn-comment:hover,
.artitem-post-container .btn-comment:active {
  background-color: rgba(255, 201, 255, 0.9) !important;
  color: #18121c !important;
}

.artitem-post-properties {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 500px;
}

.artitem-post-properties .section-header {
  color: #ffc9ff;
  font-size: 32px;
}

/* width */
.artitem-post-container #comments::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.artitem-post-container #comments::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.artitem-post-container #comments::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.artitem-post-container #comments::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* width */
.artitem-post-container #image-container::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.artitem-post-container #image-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.artitem-post-container #image-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.artitem-post-container #image-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*BIDDING*/

.artitem-post-container .put-on-sale-button {
  background-color: #ffc9ff;
  color: #0e0a10;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-right: auto;
  padding: 0.2rem;
  border-color: #ffc9ff;
  margin-top: 10px;
  margin-bottom: 5px;
}
.artitem-post-container .put-on-sale-button:hover,
.artitem-post-container .put-on-sale-button:active {
  color: #ffc9ff !important;
  background-color: #0e0a10 !important;
}

.artitem-post-container #image-container .put-on-sale-form-container {
  display: block;
  background-color: #fad3fa;
  color: #18121c;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #bcb1c1;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0.9rem 0.45rem 0.9rem;
  width: 30%;
}

.artitem-post-container #image-container .message-container {
  display: block;
  background-color: #fad3fa;
  color: #18121c;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #bcb1c1;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0.9rem 0.45rem 0.9rem;
  width: 100%;
  text-align: center;
}

.artitem-post-container .change-sale-status-button {
  background-color: #0e0a10;
  color: #ffc9ff;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-left: auto;
  padding: 0.3rem;
  border-color: #ffc9ff;
}
.artitem-post-container .change-sale-status-button:hover,
.artitem-post-container .change-sale-status-button:active {
  color: #0e0a10 !important;
  background-color: #ffc9ff !important;
}

.artitem-post-container .make-offer-button {
  background-color: #ffc9ff;
  color: #18121c;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-left: auto;
  padding: 0.3rem;
  border-color: #ffc9ff;
}
.artitem-post-container .make-offer-button:hover,
.artitem-post-container .make-offer-button:active {
  color: white !important;
  background-color: #0e0a10 !important;
}

.artitem-post-container #image-container .make-offer-form-container {
  display: block;
  background-color: #fad3fa;
  color: #18121c;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #bcb1c1;
  margin-top: 0.6rem;
  margin-right: auto;
  margin-bottom: 0.6rem;
  padding: 0.4rem 0.9rem 0.45rem 0.9rem;
  width: 75%;
}

.artitem-post-container .cancel-make-offer-button {
  background-color: #0e0a10;
  color: #ffc9ff;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3rem;
  border-color: #ffc9ff;
}
.artitem-post-container .send-offer-button {
  background-color: #0e0a10;
  color: #ffc9ff;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-left: auto;
  padding: 0.3rem;
  border-color: #ffc9ff;
}

.artitem-post-container .accept-offer-button {
  background-color: #0e0a10;
  color: #ffc9ff;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-left: auto;
  padding: 0.1rem;
  border-color: #ffc9ff;
  margin-bottom: 5px;
  width: 70px;
}
.artitem-post-container .accept-offer-button:hover,
.artitem-post-container .accept-offer-button:active {
  color: #0e0a10 !important;
  background-color: #ffc9ff !important;
}

.artitem-post-container .reject-offer-button {
  background-color: #0e0a10;
  color: #ffc9ff;
  border-radius: 0.3rem;
  font-size: 15px;
  margin-left: auto;
  padding: 0.1rem;
  border-color: #ffc9ff;
  width: 70px;
}
.artitem-post-container .reject-offer-button:hover,
.artitem-post-container .reject-offer-button:active {
  color: #0e0a10 !important;
  background-color: #ffc9ff !important;
}

.artitem-post-container #bidder-profile-photo {
  object-fit: cover;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 4px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.artitem-post-container #buyer-profile-photo {
  object-fit: cover;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 340px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 8px;
}

/* USER LIST TABLE */

.bidder-list {
  width: 100%;
}
.bidder-list tbody td > img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}
.bidder-list tbody td .user-name {
  display: block;
  font-size: 1.25em;
  padding-top: 4px;
  margin-top: 10px;
  margin-left: 60px;
  font-size: 15px;
  padding-left: 30px;
}

/* TABLES */
.table {
  border-collapse: separate;
  border-color: #ffc9ff;
  color: white;
  margin-top: 10px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: transparent;
}
.table thead > tr > th {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 0;
  border-top: 1px solid #c2c2c2;
}
.table tbody > tr > td {
  font-size: 0.875em;
  background-color: transparent;
  border-top: 10px solid #18121c;
  vertical-align: middle;
  padding: 12px 8px;
  width: 30%;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
  padding-left: 20px;
}
.table thead > tr > th span {
  border-bottom: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 5px;
  padding-bottom: 5px;
  font-weight: normal;
}
.table thead > tr > th > a span {
  color: #344644;
}
.table thead > tr > th > a span:after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-left: 5px;
  font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
  content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
  content: "\f0de";
}
.table thead > tr > th > a:hover span {
  text-decoration: none;
  color: #2bb6a3;
  border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
  -webkit-transition: background-color 0.15s ease-in-out 0s;
  transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr {
  background-color: transparent;
  font-size: 16px;
}
.table tbody tr td .call-type {
  display: block;
  font-size: 0.75em;
  text-align: center;
}
.table tbody tr td .first-line {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.125em;
}
.table tbody tr td .first-line span {
  font-size: 0.875em;
  color: #969696;
  font-weight: 300;
}
.table tbody tr td .second-line {
  font-size: 0.875em;
  line-height: 1.2;
}
