.recommendation-container {
  width: 80vw;
  min-width: 1400px;
  min-height: 80vh;
  margin: 5.5rem auto 10rem auto;
  padding: 0 2.5rem;
  /*border: 1px solid red;*/
}

.recommendation-grid {
  padding: 2rem 2rem;
}

.recommendation-grid h1 {
  color: #f7c2ea;
  font-size: 24px;
  margin-bottom: 0.6rem;
}

.recommendation-grid .page-header {
  margin-bottom: 2rem;
}

.recommendation-grid .see-more {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-bottom: 1rem;
  overflow-x: hidden;
  white-space: nowrap;
}

.recommendation-grid a {
  color: #f7c2ea;
}

.recommendation-grid .list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  overflow: hidden;
}

.recommendation-grid .art-gallery {
  columns: 6;
  column-gap: 1.25rem;
}

.recommendation-grid .art-gallery .recommendation-card {
  margin-bottom: 1.25rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  height: auto;
  padding: 1rem;
  background-color: #2a2031;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.recommendation-grid .art-gallery .recommendation-card-exhibition {
  margin-bottom: 1.25rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  height: auto;
  padding: 1rem;
  background-color: #7a7081;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.recommendation-grid .art-gallery .recommendation-card-user {
  margin-bottom: 1.25rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  height: auto;
  padding: 1rem;
  background-color: #bab0c1;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.recommendation-grid .list .recommendation-card {
  height: auto;
  padding: 1rem;
  background-color: #2a2031;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.recommendation-grid .recommendation-card:hover {
  background-color: #4a3c4a;
}

.recommendation-grid .recommendation-card-exhibition:hover {
  background-color: #9a8c9a;
}

.recommendation-grid .recommendation-card-user:hover {
  background-color: #978997;
}

.recommendation-grid .art-related {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.recommendation-grid .profile-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
}

.recommendation-grid .artitem-context {
  position: relative;
  max-width: 200px;
  overflow: hidden;
}

.recommendation-grid .profile-context {
  position: relative;
  text-align: center;
  margin-top: 1.25rem;
  max-width: 200px;
  overflow: hidden;
}

.recommendation-grid h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommendation-grid p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.recommendation-grid .no-results-found {
  color: #989898;
  font-size: 20px;
  font-weight: 300;
  margin-top: -1rem;
}
