.recommended-users .userlist {
    display: flex;
    gap: 20px;
    overflow: visible;
    flex-wrap: wrap;
    margin-left: 50px;
    position: relative;
    columns: 4;
  }

  .recommended-users .userlist .user {
    min-width: 200px;
    max-width: 200px;
    height: auto;
    padding: 15px;
    background-color: #2a2031;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  .recommended-users .userlist .user:hover {
    background-color: #4a3c4a;
  }
  .recommended-users .userlist .user img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .recommended-users .userlist .user .context {
    position: relative;
  }
  
  .recommended-users .userlist .user h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .recommended-users .userlist .user p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }