.settings-container {
  background-color: #2a2031;
  border-radius: 6px;
  margin: 7rem auto 10rem auto;
  max-width: 650px;
  min-height: 80vh;
  padding: 1.25rem 2.5rem 1rem 2.5rem;
}

.settings-header {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto 2rem auto;
  width: 500px;
}

.settings-card {
  background-color: #bcb1c1;
  border-radius: 6px;
  width: 550px;
  padding: 1.75rem 2.5rem 2.5rem 2.5rem;
  margin: 0 auto 3.5rem auto;
}

.settings-card .settings-card-header {
  font-size: 24px;
  font-weight: 600;
}

.settings-card-describe {
  margin-bottom: 1.5rem;
}

.settings-btn-container {
  text-align: right;
}

input[type="file"] {
  display: none;
}

.pp-container {
  display: flex;
  height: 150px;
  border-radius: 8px;
  background-color: #f5f5f5;
  align-items: flex-start;
}

.btn-pp {
  margin-top: 28px;
  cursor: pointer;
}

.pp-text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.pp-preview {
  height: 110px;
  width: 110px;
  margin: auto 30px auto 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
}
