/.dart_tool/*
/build/*
/macos/*
/.flutter-plugins-dependencies
/.flutter-plugins
App/mobile/.flutter-plugins
App/mobile/.flutter-plugins-dependencies
App/mobile/pubspec.lock
App/mobile/pubspec.yaml
/build/app/intermediates/flutter/debug/flutter_assets/
App/mobile/build/app/intermediates/flutter/debug/.last_build_id
App/mobile/build/app/intermediates/flutter/debug/flutter_build.d
App/mobile/build/app/intermediates/flutter/debug/libs.jar