.menu-button {
  color: white;
}

.menu-button:hover,
.menu-button:active {
  color: #ffc9ff !important;
}

.menu-button-sidebar {
  background-color: transparent;
  border-color: transparent;
  color: #18121c;
}

.menu-button-sidebar:hover {
  color: white;
}

.menu-button-sidebar:active {
  color: #18121c !important;
}
