.settings-pop-up-container {
  position: fixed;
  z-index: 2100; /* backdrop z-index = 2000 */
  top: 35%;
  left: calc(50% - 300px); /* %50 - width/2 */
  width: 600px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.settings-pop-up-header {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px;
}

.settings-pop-up-buttons {
  margin-bottom: 12px;
  text-align: right;
  margin-right: 25px;
  margin-left: 25px;
}

.settings-pop-up-btn {
  margin-left: 20px;
}
