.settings-profile-pop-up-container {
  position: fixed;
  z-index: 2100; /* backdrop z-index = 2000 */
  top: 35%;
  left: calc(50% - 305px); /* %50 - width/2 */
  width: 610px;
  box-shadow: 0px 0px 6px #ffffff;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #fafafa;
}

.settings-profile-pop-up-header {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px;
}

.settings-profile-pop-up-buttons {
  margin-bottom: 12px;
  text-align: right;
  margin-right: 34px;
  margin-left: 34px;
}

.settings-profile-pop-up-btn {
  margin-left: 20px;
}
