.upload-container {
  position: relative;
  box-sizing: border-box;
  /* real height, border and margin bottom will be set in the Profile Page */
  height: 0px;
  border: 2px dashed #bcb1c1;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.upload-container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.25);
  overflow: hidden;
  z-index: 2;
}

.upload-grid {
  display: grid;
  grid-template-columns: 7fr 4fr;
  height: 100%;
  overflow-y: auto;
}

.upload-interface-container {
  color: #ffffff;
  height: 100%;
}

.upload-interface-header {
  font-size: 40px;
  margin-top: 5rem;
}

.upload-interface-btn {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  color: #fafafa;
  font-size: 16px;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0.2rem 1.2rem;
}

.upload-interface-btn:hover,
.upload-interface-btn:active {
  color: #18121c !important;
  background-color: #ffc9ff !important;
}

.upload-interface-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

input[type="file"] {
  display: none;
}

.upload-post-preview-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.upload-post-preview {
  object-fit: contain;
  box-shadow: 0px 0px 5px #ffc9ff !important;
  /* hardcoded for now */
  /* container height - 2*border - padding top - padding bottom */
  max-height: calc(531px - 4rem);
  max-width: 100%;
}

.upload-post-wrap {
  position: relative;
}

.upload-post-wrap:hover .upload-post-cancel-container,
.upload-post-wrap:focus .upload-post-cancel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.1);
}

.upload-exhibition-preview-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.upload-exhibition-wrap {
  position: relative;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.upload-exhibition-wrap:hover .upload-post-cancel-container,
.upload-exhibition-wrap:focus .upload-post-cancel-container {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.1);
}

.upload-exhibition-preview {
  object-fit: contain;
  box-shadow: 0px 0px 5px #ffc9ff !important;
  height: 150px;
}

.upload-poster-preview {
  object-fit: contain;
  box-shadow: 0px 0px 5px #ffc9ff !important;
  /* hardcoded for now */
  /* container height - 2*border - padding top - padding bottom */
  max-height: calc(616px - 4rem);
  max-width: 100%;
}

.upload-post-cancel-container {
  display: none;
}

.upload-post-cancel-btn {
  position: absolute;
  color: #ffc9ff;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.5);
}

.upload-post-cancel-btn:hover,
.upload-post-cancel-btn:active {
  cursor: pointer;
}

.upload-info {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  margin: 1.2rem 1.5rem 1.2rem 0rem;
  padding-left: 1.5rem;
}

.upload-info .upload-info-header {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .upload-info .upload-info-header {
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 850px) {
  .upload-info .upload-info-header {
    font-size: 15px;
    font-weight: 500;
  }
}

.upload-post-btn {
  margin-top: 0.6rem;
  background-color: #ffc9ff;
  color: #18121c !important;
}

.upload-post-btn:hover,
.upload-post-btn:active {
  color: #18121c !important;
  background-color: rgba(255, 201, 255, 0.9) !important;
}

.upload-post-error {
  color: #ef233c;
  font-size: 20px;
  margin-top: 5rem;
  font-weight: 300;
}

.upload-info-error {
  color: #ef233c;
  margin-top: 0.75rem;
  margin-bottom: -0.75rem;
  font-size: 14px;
  font-weight: 300;
}

/* width */
.upload-grid::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
.upload-grid::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.upload-grid::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.upload-grid::-webkit-scrollbar-thumb:hover {
  background: #555;
}
