/* navbar --> z-index = 1020 */

.navigation-bar {
  height: 80px;
  position: fixed; /* fixed --> sticky, absolute --> normal */
  width: 100%;
}

.navigation-bar-bg {
  background-color: #080808;
}

.btn-access {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.btn-access:hover,
.btn-access:active {
  color: #18121c !important;
  background-color: #ffc9ff !important;
}

.btn-access-sidebar {
  background-color: transparent;
  border-color: transparent;
  color: #18121c;
}

.btn-access-sidebar:hover {
  color: white;
}

.btn-access-sidebar:active {
  color: #18121c !important;
  border-color: transparent !important;
}

.btn-logged {
  color: white;
}

.btn-logged:hover,
.btn-logged:active {
  color: #ffc9ff !important;
}

.btn-logged-sidebar {
  background-color: transparent;
  border-color: transparent;
  color: #18121c;
}

.btn-logged-sidebar:hover {
  color: white;
}

.btn-logged-sidebar:active {
  color: #18121c !important;
}

.logo-image{
  margin-top: 2rem;
  height: 5.5rem;
  weight: auto;
}
