.sidebar-container {
  height: 100vh; /*100vh-navbar --> old*/
  position: fixed;
  right: 0px;
  top: 0px; /*navbar --> old*/
  z-index: 1000; /*1020 = navbar's z-index */
}

.sidebar {
  height: 100%;
  /*in real, will be determined in inline css (300:open - 0:closed)
  -- info comes from Layout.js via width prop*/
  width: 0px;
  background-color: #6a986b;
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.sidebar-line {
  height: 80px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid black;
}*/

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar-row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-element {
  color: #18121c;
  padding: 18px;
  width: 300px;
  font-weight: 400;
  /*border-color: #18121c !important;*/ /*for debugging*/
}

.sidebar-element:hover {
  color: white;
}

.sidebar-element:active {
  color: #18121c !important;
}
