/*.App {
  background-color: black;
  background-image: url("https://i.pinimg.com/564x/87/0e/a9/870ea9ac4fef31c40b2253c6a6fe1b10.jpg");
  background-size: cover;
}*/

.form-control:focus {
  border-color: #e63946 !important;
  box-shadow: none !important;
}

/* Primary Button */
.btn-primary {
  background-color: #457b9d !important;
  border-color: #457b9d !important;
}

/* Primary Outline Button */
.btn-outline-primary {
  border-color: #457b9d !important;
  color: #457b9d !important;
}

.btn-outline-primary:hover {
  background-color: #e3f0fa !important;
}

.btn-outline-primary:active {
  background-color: #85bbdd !important;
}

/* Light Button */
.btn-light,
.btn-light:hover,
.btn-light:active {
  background-color: transparent !important;
  border-color: transparent !important;
}

/* Backgrounds */
.bg-primary {
  background-color: red !important;
}

.bg-secondary {
  background-color: yellow !important;
}
