/*  THIS PAGE IS USED TO OVERRIDE BOOTSTRAP COMPONENTS.

    ANY CHANGE WE MAKE TO THIS PAGE WILL 
    CHANGE THE STYLING OF THE COMPONENT
    IN THE ENTIRE PROJECT SCOPE.

    FOR THIS REASON, ONLY GENERAL CHANGES SHOULD BE MADE HERE.
    ALL CUSTOM CHANGES SHOULD BE MADE IN SEPARATE CSS FILES

    ALSO, COMPONENTS FROM THE SAME CLASS SHOULD BE 
    ONE UNDER THE OTHER FOR MINIMAL CONFUSION

*/

/* ------- FORM ------- */

.form-control:focus {
  border-color: #e63946 !important;
  box-shadow: none !important;
  outline: none !important;
}

/* ------- BUTTONS ------- */

/* Primary Button */
.btn-primary {
  background-color: #18121c !important;
  border-color: #18121c !important;
}

/* Primary Outline Button */
.btn-outline-primary {
  background-color: white !important;
  border-color: #18121c !important;
  color: #18121c !important;
}

.btn-outline-primary:hover {
  background-color: #e3f0fa !important;
}

.btn-outline-primary:active {
  background-color: #85bbdd !important;
}

/* Secondary Button */
.btn-secondary {
  background-color: #fff !important;
  color: #18121c !important;
}

.btn-secondary:hover {
  background-color: #FCF6FF !important;
}

/* Secondary Outline Button */




/* Light Button */
.btn-light,
.btn-light:hover,
.btn-light:active {
  background-color: transparent !important;
  border-color: transparent !important;
}

/* Close Button */
.btn-close,
.btn-close:hover,
.btn-close:active {
  box-shadow: none !important;
}

/* ------- BACKGROUND ------- */

.bg-primary {
  background-color: red !important;
}

.bg-secondary {
  background-color: yellow !important;
}
