{% extends "./base.html" %}
{% block title %}
Welcome to Artitem API Service
{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@500&display=swap');

    h1 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
    }

    .txt-robo {
       font-family: 'Roboto', sans-serif;
        font-weight: 500
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    h4 {
        font-weight: 300
    }

    .bg-dark {
        background-color: #000000 !important;
    }

    .fs14 {
        font-size: 14px;
    }
    </style>
    <div class="container" style="max-width: 1240px;">
        <div class="row pt-5">
            <div class="col-12 col-md-6">
                <section class="jumbotron bg-white">
                    <div class="container">
                        <h1 class="pt-4"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-image"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                <path
                                    d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z" />
                                <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                            </svg> Gallery APIs
                        </h1>
                        <p class="h4">Art item API Placeholders.</p>
                    </div>
                </section>
            </div>
            <div class=" d-none d-md-none d-md-block col-md-6">
                <section class="jumbotron text-center bg-white px-0">
                </section>
            </div>
        </div>
    </div>
    <section class="jumbotron text-center">
        <div class="container" style="max-width: 600px;">
            <h1 class="txt-robo h1">Easy to use endpoints</h1>
            <p>Just find an image and create a URL, not quite implemented width and height yet!</p>

            <pre class="bg-white pt-3"><code><a href="http://127.0.0.1:8000/api/id/2">https://127.0.0.1:8000/api/id/2</a></code>
            </pre>

        </div>
    </section>
    <div class="container" style="max-width: 1240px;">
        <div class="row pt-5">
            <div class="col-12 col-md-6">
                <section class="jumbotron bg-white">
                    <div class="container">
                        <h1 class="pt-4 txt-robo h3"> Specific Image
                        </h1>
                        <p>Just find an image and create a URL, not quite implemented width and height yet!</p>
                        </p>
                        <pre class="bg-light text-center pt-3"><code><a href="http://127.0.0.1:8000/api/id/1">https://127.0.0.1:8000/api/id/1</a></code>
            </pre>
                    </div>
                </section>
            </div>
            <div class="d-none d-md-none d-md-block col-md-6">
                <section class="jumbotron text-center bg-white px-0">
                    <div class="container">
                        <img class="shadow mb-5 bg-white rounded" src="http://127.0.0.1:8000/api/id/1" width="100%">
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% include "./footer.html" %}
    {% endblock %}
